# Python Basic Dataframe

[Lecture](https://www.youtube.com/watch?v=rku5rZxS0AA&list=PLG19vXLQHvSAufDFgZEFAYQEwMJXklnQV&index=1)

In [2]:
import pandas as pd               # dataframe 
import numpy as np                # array and matrix math
import os                         # operation system
import matplotlib.pyplot as plt   # plotting

**Select working directory**

In [10]:
os.chdir('GeoDataSets/')

In [11]:
df = pd.read_csv('https://raw.githubusercontent.com/GeostatsGuy/GeoDataSets/master/2D_MV_200wells.csv')

In [12]:
df.head()

,X,Y,facies_threshold_0.3,porosity,permeability,acoustic_impedance
0,565,1485,1,0.1184,6.170,2.009
1,2585,1185,1,0.1566,6.275,2.864
2,2065,2865,2,0.1920,92.297,3.524
3,3575,2655,1,0.1621,9.048,2.157
4,1835,35,1,0.1766,7.123,3.979

## Statistics

In [16]:
df.describe()

,X,Y,facies_threshold_0.3,porosity,permeability,acoustic_impedance
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000
mean,2053.400000,1876.15000,1.330000,0.149300,25.287462,3.000435
std,1113.524641,1137.58016,0.471393,0.032948,64.470135,0.592201
min,25.000000,35.00000,1.000000,0.050000,0.015820,2.009000
25%,1112.500000,920.00000,1.000000,0.132175,1.366750,2.483250
50%,2160.000000,1855.00000,1.000000,0.150150,4.825500,2.964500
75%,2915.000000,2782.50000,2.000000,0.174200,14.597000,3.527000
max,3955.000000,3995.00000,2.000000,0.223200,463.641000,3.984000

In [15]:
df.describe(percentiles=[0.1,0.9]) # percentiles = [lower quatile, upper quatile]

,X,Y,facies_threshold_0.3,porosity,permeability,acoustic_impedance
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000
mean,2053.400000,1876.15000,1.330000,0.149300,25.287462,3.000435
std,1113.524641,1137.58016,0.471393,0.032948,64.470135,0.592201
min,25.000000,35.00000,1.000000,0.050000,0.015820,2.009000
10%,414.000000,364.00000,1.000000,0.106100,0.262290,2.191500
50%,2160.000000,1855.00000,1.000000,0.150150,4.825500,2.964500
90%,3510.000000,3475.00000,2.000000,0.190140,56.534400,3.833600
max,3955.000000,3995.00000,2.000000,0.223200,463.641000,3.984000

In [17]:
type(df.describe(percentiles=[0.1,0.9]))

pandas.core.frame.DataFrame

In [23]:
df.describe(percentiles=[0.1,0.9]).T

,count,mean,std,min,10%,50%,90%,max
X,200.0,2053.400000,1113.524641,25.00000,414.00000,2160.00000,3510.00000,3955.0000
Y,200.0,1876.150000,1137.580160,35.00000,364.00000,1855.00000,3475.00000,3995.0000
facies_threshold_0.3,200.0,1.330000,0.471393,1.00000,1.00000,1.00000,2.00000,2.0000
porosity,200.0,0.149300,0.032948,0.05000,0.10610,0.15015,0.19014,0.2232
permeability,200.0,25.287462,64.470135,0.01582,0.26229,4.82550,56.53440,463.6410
acoustic_impedance,200.0,3.000435,0.592201,2.00900,2.19150,2.96450,3.83360,3.9840

## Rename Columns

In [24]:
df = df.rename(columns={'facies_threshold_0.3': 'facies','permeability':'perm','acoustic_impedance':'ai'}) # rename columns of the 
df.head()

      X     Y  facies  porosity    perm     ai
0   565  1485       1    0.1184   6.170  2.009
1  2585  1185       1    0.1566   6.275  2.864
2  2065  2865       2    0.1920  92.297  3.524
3  3575  2655       1    0.1621   9.048  2.157
4  1835    35       1    0.1766   7.123  3.979

## Copying 
1. Shallow copy - point same memory, change one and both are changed
2. Deep copy - new copy in memory, change onely one

In [26]:
# 2. deep copy
deep_copy = df.copy(deep=True)
deep_copy.loc[4, 'ai'] = 4.0
df.head()

      X     Y  facies  porosity    perm     ai
0   565  1485       1    0.1184   6.170  2.009
1  2585  1185       1    0.1566   6.275  2.864
2  2065  2865       2    0.1920  92.297  3.524
3  3575  2655       1    0.1621   9.048  2.157
4  1835    35       1    0.1766   7.123  3.979

In [27]:
# 1. shallow copy
shallow_copy = df.copy(deep=False)
shallow_copy.loc[3, 'ai'] = 4.0
df.head()

      X     Y  facies  porosity    perm     ai
0   565  1485       1    0.1184   6.170  2.009
1  2585  1185       1    0.1566   6.275  2.864
2  2065  2865       2    0.1920  92.297  3.524
3  3575  2655       1    0.1621   9.048  4.000
4  1835    35       1    0.1766   7.123  3.979

## Add New Feature

In [30]:
zeros = np.zeros(len(df))
df['zeros'] = zeros
df.head()

      X     Y  facies  porosity    perm     ai  zeros
0   565  1485       1    0.1184   6.170  2.009    0.0
1  2585  1185       1    0.1566   6.275  2.864    0.0
2  2065  2865       2    0.1920  92.297  3.524    0.0
3  3575  2655       1    0.1621   9.048  4.000    0.0
4  1835    35       1    0.1766   7.123  3.979    0.0

In [32]:
df = df.drop('zeros', axis=1)
df.head()

      X     Y  facies  porosity    perm     ai
0   565  1485       1    0.1184   6.170  2.009
1  2585  1185       1    0.1566   6.275  2.864
2  2065  2865       2    0.1920  92.297  3.524
3  3575  2655       1    0.1621   9.048  4.000
4  1835    35       1    0.1766   7.123  3.979

## Remove a sample

In [34]:
df = df.drop(3, axis=0)      # Remove index no 3 row
df.head()

      X     Y  facies  porosity    perm     ai
0   565  1485       1    0.1184   6.170  2.009
1  2585  1185       1    0.1566   6.275  2.864
2  2065  2865       2    0.1920  92.297  3.524
4  1835    35       1    0.1766   7.123  3.979
5  3375  2525       1    0.1239   1.468  2.337

## Feature Engineering

In [35]:
df['porosity100'] = df['porosity']*100          # add a new column with porosity in percentage
df['permpor'] = df['perm']/df['porosity']       # add a new feature with ratio of perm / por 
df.head()

      X     Y  facies  porosity    perm     ai  porosity100     permpor
0   565  1485       1    0.1184   6.170  2.009        11.84   52.111486
1  2585  1185       1    0.1566   6.275  2.864        15.66   40.070243
2  2065  2865       2    0.1920  92.297  3.524        19.20  480.713542
4  1835    35       1    0.1766   7.123  3.979        17.66   40.334088
5  3375  2525       1    0.1239   1.468  2.337        12.39   11.848265

## Conditional Manipulation

In [36]:
df['tporosity'] = np.where(df['porosity']>=0.12, 'high', 'low') # make a new categorical feature
df.head()

,X,Y,facies,porosity,perm,ai,porosity100,permpor,tporosity
0,565,1485,1,0.1184,6.170,2.009,11.84,52.111486,low
1,2585,1185,1,0.1566,6.275,2.864,15.66,40.070243,high
2,2065,2865,2,0.1920,92.297,3.524,19.20,480.713542,high
4,1835,35,1,0.1766,7.123,3.979,17.66,40.334088,high
5,3375,2525,1,0.1239,1.468,2.337,12.39,11.848265,high

### Conditional Manipuluation more than One Feature

In [37]:
df['perm_cutoff'] = np.where(df['porosity']>=0.12, df['perm'],0.0001) # new feature with conditional truncation
df.head()

,X,Y,facies,porosity,perm,ai,porosity100,permpor,tporosity,perm_cutoff
0,565,1485,1,0.1184,6.170,2.009,11.84,52.111486,low,0.0001
1,2585,1185,1,0.1566,6.275,2.864,15.66,40.070243,high,6.2750
2,2065,2865,2,0.1920,92.297,3.524,19.20,480.713542,high,92.2970
4,1835,35,1,0.1766,7.123,3.979,17.66,40.334088,high,7.1230
5,3375,2525,1,0.1239,1.468,2.337,12.39,11.848265,high,1.4680