# [Model Evaluation](https://www.youtube.com/watch?v=DDd4wJG-UgE&list=PLD_eiqVVLZDj1onVQPuREzf90xRT2WIdR&index=51)

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error

%matplotlib inline

In [2]:
df = pd.read_csv("regression-one.csv")
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness 1-19 years                 34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [4]:
df.rename(columns={'Life expectancy':'life_expect'}, inplace=True)
df = df.dropna()
df.isnull().sum()

Country                            0
Year                               0
Status                             0
life_expect                        0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness 1-19 years                0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
dtype: int64

In [5]:
# check return resultisna record
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Country, Year, Status, life_expect, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV/AIDS, GDP, Population, thinness 1-19 years, thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [32]:
from sklearn.linear_model import LinearRegression

slr = LinearRegression()
SLRX = df[['Schooling']]        # dataframe
Y = df['life_expect']           # series
slr.fit(SLRX, Y)
SLRYhat = slr.predict(SLRX)
print('Simple Linear Regression 0 to 4:', SLRYhat[0:4])

SLR_MSE = mean_squared_error(df['life_expect'], SLRYhat)
print('Simple Linear Regression MSE:', SLR_MSE)

SLR_R2 = slr.score(SLRX, Y)
print('Simple Linear Regression R2:', SLR_R2)

Simple Linear Regression 0 to 4: [64.6771856  64.44820695 64.2192283  63.99024965]
Simple Linear Regression MSE: 36.39144686879598
Simple Linear Regression R2: 0.5294454639356108

In [36]:
from sklearn.linear_model import LinearRegression

mlr = LinearRegression()
MLRX = df[['GDP','Alcohol','BMI', 'Schooling']]        # dataframe
Y = df['life_expect']           # series
mlr.fit(MLRX, Y)
MLRYhat = mlr.predict(MLRX)
print('Multiple Linear Regression 0 to 4:', MLRYhat[0:4])

MLR_MSE = mean_squared_error(df['life_expect'], MLRYhat)
print('Multiple Linear Regression MSE:', MLR_MSE)

MLR_R2 = mlr.score(MLRX, Y)
print('Multiple Linear Regression R2:', MLR_R2)

Multiple Linear Regression 0 to 4: [64.24861418 64.01295717 63.77621795 63.54168785]
Multiple Linear Regression MSE: 32.66263978796142
Multiple Linear Regression R2: 0.5776602846411929

In [53]:
from sklearn.metrics import r2_score

PRX = df['Schooling']        # series
Y = df['life_expect']        # series
f = np.polyfit(PRX, Y, 3)
PR = np.poly1d(f)
PRYhat = PR(PRX)
print('Polynomial Regression 0 to 4:', PRYhat[0:4])

PR_MSE = mean_squared_error(df['life_expect'], PRYhat)
print('Polynomial Regression MSE:', PR_MSE)

PR_R2 = r2_score(df['life_expect'], PRYhat)
print('Polynomial Regression R2:', PR_R2)

Polynomial Regression 0 to 4: [63.54170723 63.28970051 63.04117145 62.79627248]
Polynomial Regression MSE: 34.73390295312004
Polynomial Regression R2: 0.5508781047168166

In [54]:
print('Simple Linear Regression')
print('Simple Linear Regression MSE:', SLR_MSE)
print('Simple Linear Regression R2:', SLR_R2)
print()
print('Multiple Linear Regression')
print('Multiple Linear Regression MSE:', MLR_MSE)
print('Multiple Linear Regression R2:', MLR_R2)
print()
print('Polynomial Regression')
print('Polynomial Regression MSE:', PR_MSE)
print('Polynomial Regression R2:', PR_R2)

Simple Linear Regression
Simple Linear Regression MSE: 36.39144686879598
Simple Linear Regression R2: 0.5294454639356108

Multiple Linear Regression
Multiple Linear Regression MSE: 32.66263978796142
Multiple Linear Regression R2: 0.5776602846411929

Polynomial Regression
Polynomial Regression MSE: 34.73390295312004
Polynomial Regression R2: 0.5508781047168166