In this tutorial, we will cover:
* Filter operation
* Logical operation
* invert operation

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

24/03/18 13:33:28 WARN Utils: Your hostname, htetaunglynn resolves to a loopback address: 127.0.1.1; using 192.168.61.214 instead (on interface wlo1)
24/03/18 13:33:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/18 13:33:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/18 13:33:29 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.csv('test1.csv', header=True, inferSchema=True)
df.show()

+-----+---+----------+-------+
| name|age|experience| salary|
+-----+---+----------+-------+
| Htet| 21|         5| 600000|
| Aung| 29|         4| 300000|
| Lynn| 30|         9|1000000|
|  Zaw| 25|         5| 400000|
|   Su| 31|         8| 800000|
|Thida| 26|         7|1200000|
+-----+---+----------+-------+

## Filter operations

In [16]:
# salary of the people less than or equal to 600000
df.filter('salary <= 600000').show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|Htet| 21|         5|600000|
|Aung| 29|         4|300000|
| Zaw| 25|         5|400000|
+----+---+----------+------+

In [17]:
# filter with specific columns
df.filter('salary <= 600000').select(['name','age']).show()

+----+---+
|name|age|
+----+---+
|Htet| 21|
|Aung| 29|
| Zaw| 25|
+----+---+

In [18]:
# filter 2 conditions using '&'
df.filter((df['salary'] <= 600000) & 
          (df['salary'] > 300000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|Htet| 21|         5|600000|
| Zaw| 25|         5|400000|
+----+---+----------+------+

In [20]:
# filter 2 conditions using '|'
df.filter((df['salary'] > 600000) | 
          (df['salary'] <= 300000)).show()

+-----+---+----------+-------+
| name|age|experience| salary|
+-----+---+----------+-------+
| Aung| 29|         4| 300000|
| Lynn| 30|         9|1000000|
|   Su| 31|         8| 800000|
|Thida| 26|         7|1200000|
+-----+---+----------+-------+

In [23]:
# inverse operation
df.filter(~(df['salary'] <= 600000)).show()

+-----+---+----------+-------+
| name|age|experience| salary|
+-----+---+----------+-------+
| Lynn| 30|         9|1000000|
|   Su| 31|         8| 800000|
|Thida| 26|         7|1200000|
+-----+---+----------+-------+