command to install pyspark
```python
!pip install pyspark           # python
```
Java installation in terminal

`sudo apt install default-jdk`

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

   name  age
0  Htet   21
1  Aung   29
2  Lynn   30

In [4]:
import pyspark as ps
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [9]:
spark

In [11]:
df_pyspark = spark.read.csv('test1.csv')
df_pyspark

DataFrame[_c0: string, _c1: string]

In [12]:
df_pyspark.show()

+----+---+
| _c0|_c1|
+----+---+
|name|age|
|Htet| 21|
|Aung| 29|
|Lynn| 30|
+----+---+

In [17]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')
df_pyspark

DataFrame[name: string, age: string]

In [18]:
df_pyspark.show()

+----+---+
|name|age|
+----+---+
|Htet| 21|
|Aung| 29|
|Lynn| 30|
+----+---+

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.head(3)

[Row(name='Htet', age='21'),
 Row(name='Aung', age='29'),
 Row(name='Lynn', age='30')]

In [21]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)