# Pyspark GroupBy and Aggrefation Funcrions

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

24/03/18 13:58:56 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
df = spark.read.csv('test3.csv', header=True, inferSchema=True)
df.show()

+---------+------------+------+
|     name| departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [6]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [12]:
# groupby based on name
df.groupby('name').sum().show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [16]:
# groupby departments which gives maximum salary
df.groupby('departments').sum().show()

+------------+-----------+
| departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [21]:
df.groupby('name').max().show()

+---------+-----------+
|     name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [22]:
df.groupby('name').min().show()

+---------+-----------+
|     name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [23]:
df.groupby('departments').avg().show()

+------------+-----------+
| departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [17]:
df.groupby('departments').mean().show()

+------------+-----------+
| departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [18]:
df.groupby('departments').count().show()

+------------+-----+
| departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [19]:
# apply direct aggregate function
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [28]:
df.groupby('departments').agg({'salary':'mean'}).show()

+------------+-----------+
| departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+