# Part-1

__In this tutorial, we will cover__
* PySpark dataframe
* Reading the dataset
* Checking the datatypes of the column (schema)
* Selecting columns and indexing
* Check describe option similar to pandas
* Adding columns
* Dropping columns
* Renaming columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

24/03/16 16:07:04 WARN Utils: Your hostname, htetaunglynn resolves to a loopback address: 127.0.1.1; using 192.168.61.214 instead (on interface wlo1)
24/03/16 16:07:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/16 16:07:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/16 16:07:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
# read dataset
df_ps = spark.read.option('header', 'true').csv('test1.csv')
df_ps.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|Htet| 21|         5|
|Aung| 29|         4|
|Lynn| 30|         9|
+----+---+----------+

In [5]:
# check the schema
df_ps.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

The schema resulting string type. Need to add parameter `inferSchema=True` for proper schema.

In [6]:
df_ps = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)
df_ps.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [7]:
df_ps = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_ps.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [8]:
type(df_ps)

pyspark.sql.dataframe.DataFrame

**Dataframe is a datastructure.**

In [9]:
df_ps.columns

['name', 'age', 'experience']

In [10]:
df_ps.head(3)    # list format

[Row(name='Htet', age=21, experience=5),
 Row(name='Aung', age=29, experience=4),
 Row(name='Lynn', age=30, experience=9)]

In [11]:
df_ps.select('name')

DataFrame[name: string]

In [12]:
df_ps.select('name').show()

+----+
|name|
+----+
|Htet|
|Aung|
|Lynn|
+----+

In [13]:
type(df_ps.select('name'))

pyspark.sql.dataframe.DataFrame

In [14]:
df_ps.select(['name','experience']).show()

+----+----------+
|name|experience|
+----+----------+
|Htet|         5|
|Aung|         4|
|Lynn|         9|
+----+----------+

In [15]:
df_ps['name']       # .show() not work

Column<'name'>

In [16]:
df_ps.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [17]:
df_ps.describe().show()
# taking string column as well

+-------+----+------------------+------------------+
|summary|name|               age|        experience|
+-------+----+------------------+------------------+
|  count|   3|                 3|                 3|
|   mean|NULL|26.666666666666668|               6.0|
| stddev|NULL| 4.932882862316247|2.6457513110645907|
|    min|Aung|                21|                 4|
|    max|Lynn|                30|                 9|
+-------+----+------------------+------------------+

In [18]:
# Adding coolumns in dataframe
df_ps = df_ps.withColumn('experience after 2 year', df_ps['experience']+2)
df_ps.show()

+----+---+----------+-----------------------+
|name|age|experience|experience after 2 year|
+----+---+----------+-----------------------+
|Htet| 21|         5|                      7|
|Aung| 29|         4|                      6|
|Lynn| 30|         9|                     11|
+----+---+----------+-----------------------+

In [19]:
# Drop columns
df_ps = df_ps.drop('experience after 2 year')
df_ps.show()

+----+---+----------+
|name|age|experience|
+----+---+----------+
|Htet| 21|         5|
|Aung| 29|         4|
|Lynn| 30|         9|
+----+---+----------+

In [21]:
# Rename columns
df_ps.withColumnRenamed('name','new_name').show()

+--------+---+----------+
|new_name|age|experience|
+--------+---+----------+
|    Htet| 21|         5|
|    Aung| 29|         4|
|    Lynn| 30|         9|
+--------+---+----------+

# Part-2